@import './common';
@import './example';


.search-form {
   display:flex;
   padding-bottom: 20px;
   padding-top: 20px;
   justify-content:center;
   background-color: cornflowerblue;
}

.button-search {
    margin-left: 10px;
}

.gallery {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;

    font-size: 12px;
    text-align: center;
    color: #464646;
}

.info-item {
    display: flex;
    flex-direction: column;
}

.load-more{
    
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.is-hidden {
    position: absolute;

    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;

    border: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}